.posts {
  padding: 1rem;
  background-color: white;
  margin-bottom: 1.5rem;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);

  @include media($medium-screen-only) {
    @include span-columns(2);
    @include omega(2n);
  } 

  @include media($large-screen-up) {
    @include span-columns(4 of 12);
    @include omega(3n);
  }

  & > h2 {
      font-size: 2rem;
      line-height: 1.1;
  }
}

